<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.XuanRan.wpyjt">
    
   
    <!--读取您的USB存储设备中的内容-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--此应用可显示在其他应用上方-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!--修改或删除您的USB存储设备中的内容-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name="com.XuanRan.wpyjt.XuanRanApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="false">
        
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>

        <meta-data
            android:name="xposeddescription"
            android:value="阻止Activity内添加WindowManager.LayoutParams.FLAG_SECURE标志，可用于解除禁止截图的软件。"/>

        <meta-data
            android:name="xposedminversion"
            android:value="54"/>

        <!--适配全面屏-->
        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
	    <activity
	        android:name="com.XuanRan.Exception.Handing.ExceptionActivity"/>
    </application>

</manifest>